<a href="/" class="h1 font-semibold flex-auto m-5"><h1>Sport Scheduler</h1></a>
<div class="form-check form-switch m-5">
  <input id="inputSwitch" onchange="toggle()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Theme</label>
</div>